@charset "UTF-8";

:root {
  /* Paleta */
  --color-gray-100: #e6e6e6;
  --color-gray-700: #4d4d4d;
  --color-orange-100: #fddec2;
  --color-orange-700: #ff6600;
  --color-white: #ffffff;

  /* Tokens de uso */
  --color-bg: var(--color-white);
  --color-bg-block-image-content--imagem: var(--color-orange-100);
  --color-bg-block-image-content--content: var(--color-white);
  --color-bg-block-text-only: var(--color-gray-100);
  --color-bg-insurence: var(--color-gray-100);
  --color-bg-speak-counters: var(--color-gray-700);
  --color-bg-footer: var(--color-orange-700);
  --color-bg-title: var(--color-orange-700);
  --color-bg-btn: var(--color-gray-700);
  --color-bg-btn-hover-talk-counters: var(--color-white);
  --color-bg-btn-hover-modal: var(--color-orange-700);

  --color-tx-dark: var(--color-gray-700);
  --color-tx-light: var(--color-white);

  --font: "Roboto Slab", Georgia, "Times New Roman", serif;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  font-family: var(--font);
  margin: 0;
  padding: 0;
  /* border: 1px solid red; */
}

html,
body {
  background-color: var(--color-bg);
  inline-size: 100%;
  max-inline-size: 100vw;
  min-block-size: 100vh;
}

.sr-only {
  border: 0;
  clip: rect(0, 0, 0, 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}

.container {
  margin-inline: auto;
  max-inline-size: 90rem;
}

/* M O B I L E  F I R S T  */

.header {
  align-items: center;
  display: flex;
  justify-content: space-between;
  padding: 1.375rem; /* revisar */
  background-color: pink;
}

.logo__img,
.slogan__img {
  display: block;
}

.logo {
  inline-size: clamp(10.07rem, 29.3vw, 22.625rem); /* ok devices */
  /* vazio */
}

.logo__img {
  inline-size: 100%;
  block-size: 100%;
  object-fit: cover;
}

.slogan {
  inline-size: clamp(4.8125rem, 18.23vw, 11.75rem); /* ok devices */
  /* vazio */
}

.slogan__img {
  inline-size: 100%;
  block-size: 100%;
  object-fit: cover;
}

.main {
  /* vazio */
}

/* MOBILE FIRST - component Block image and content */

.image-content {
  display: grid;
  grid-template-columns: 1fr;
}

.image-content--reverse {
  /* vazio */
}

.image-content__image {
  /* VERIFICAR ASPECT-RATIO */
  background-color: var(--color-bg-block-image-content--imagem);
}

.image-content__image--reverse {
  /* vazio */
}

.image-content__photo {
  /* vazio */
  display: block;
}

.image-content__content {
  background-color: var(--color-bg-block-image-content--content);
  color: var(--color-tx-dark);
}

.image-content__content--reverse {
  /* vazio */
}

.image-content__title {
  background-color: var(--color-bg-title);
  color: var(--color-tx-light);
  font-weight: 400;
  font-size: 2rem; /* tb e dk*/
  line-height: 1; /* tb e dk*/
  padding: 1.125rem 1.375rem; /* tb e dk*/
  text-align: center; /* tb e dk*/
}

.image-content__title--reverse {
  text-align: center; /* tb e dk*/
}

.image-content__body {
  background-color: var(--color-bg-block-image-content--content);
  padding-block: 2rem; /* tb e dk*/
  padding-inline: 1.375rem; /* tb e dk*/
}

.image-content__body--reverse {
  padding-inline: 1.375rem; /* tb e dk*/
}

.image-content__text {
  color: var(--color-tx-dark);
  font-weight: 400;
  font-size: 1rem; /* tb e dk*/
  line-height: 1.6; /* tb e dk*/
  margin-block-end: 1.375rem; /* tb e dk*/
  text-align: center; /* tb e dk*/
}

.image-content__text:last-child {
  margin-block-end: 0; /* ok devices */
}

/*  MOBILE FIRST - component Block text only */

.text-only {
  /* vazio */
}

.text-only--reverse {
  margin-top: 2rem; /* ok devices */
}

.text-only__header {
  background-color: var(--color-bg-title);
}

.text-only__header--reverse {
  /* vazio */
}

.text-only__title {
  color: var(--color-tx-light);
  font-size: 2rem; /* tb e dk*/
  font-weight: 400;
  line-height: 1; /* tb e dk*/
  padding: 1.125rem 1.375rem; /* tb e dk*/
  text-align: center; /* tb e dk*/
}

.text-only__title--reverse {
  text-align: center; /* tb e dk*/
}

.text-only__card {
  background-color: var(--color-bg-block-text-only);
}

.text-only__card--wrapper-all {
  align-items: center;
  display: flex;
  flex-direction: column;
  gap: 2rem 0;
  padding: 2rem 0;
}

.text-only__card-group {
  align-items: center;
  display: flex;
  flex-direction: column;
  gap: 2rem 0;
  inline-size: 100%;
}

.text-only__card--mission,
.text-only__card--values {
  padding: 2rem 1.375rem; /* tb e dk*/
}

.text-only__card--vision {
  padding: 0 1.375rem; /* tb e dk*/
}

/*  MOBILE FIRST - card purpose */

.card-purpose {
  color: var(--color-tx-dark);
  text-align: center; /* tb e dk*/
}

.card-purpose__title {
  display: inline;
  font-size: 1.625rem; /* ok devices */
  font-weight: 600;
  line-height: 1; /* ok devices */
}

hr {
  background-color: var(--color-orange-700);
  border: none;
  block-size: 0.25rem;
  max-inline-size: 13.125rem; /* tb e dk*/
  margin-inline: auto; /* tb e dk*/
}

.card-purpose__body {
  padding-block-start: 1.375rem; /* ok devices */
}

.card-purpose__text {
  font-size: 1rem; /* tb e dk*/
  line-height: 1.5; /* tb e dk*/
}

/*  MOBILE FIRST - card service */

.card-service {
  color: var(--color-tx-dark);
  inline-size: 100%;
  max-inline-size: 16rem;
}

.card-service__header {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.card-service__icon-wrapper {
  /* vazio */
}

.card-service__icon {
  display: block;
}

.card-service__title {
  font-size: 1.125rem;
  font-weight: 600;
  line-height: 1.5;
  margin-inline: auto; /* dk*/
  max-inline-size: 18ch;
  text-align: center; /* dk*/
}

.card-service__title,
.card-service__body {
  padding-block-start: 0.625rem; /* ok devices */
}

.card-service__list-services {
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  list-style-type: none;
  text-align: center; /* dk*/
}

.card-service__type {
  /* vazio */
}

/*  MOBILE FIRST - Insurence */

.insurence {
  background-color: var(--color-bg-insurence);
  color: var(--color-tx-dark);
  display: flex;
  flex-direction: column; /* dk*/
  gap: 1.375rem 0; /* dk*/
  padding: 2rem 1.375rem; /* tb e dk*/
  inline-size: 100%;
  align-items: center;
}

.insurence__icon-wrapper {
  align-items: center;
  display: flex;
  flex-direction: column;
  inline-size: 100%;
  max-inline-size: 10.5rem;
}

.insurence__icon {
  /* vazio */
}

.insurence__icon-text {
  font-size: 1rem;
  font-weight: 600;
  line-height: 1.5;
  margin-block-start: 1rem;
  text-align: center;
}

.insurence__body {
  /* inline-size: 100%; */
  /* vazio */
}

.insurence__text {
  font-size: 1rem;
  line-height: 1.6;
  margin-block-end: 1.375rem;
  text-align: center;
}

.insurence__text:last-child {
  margin-block-end: 0;
}

/*  MOBILE FIRST - Talk Counter */

.talk-counters {
  align-items: center;
  background-color: var(--color-bg-speak-counters);
  color: var(--color-tx-light);
  display: flex;
  flex-direction: column;
  padding: 2rem 1.375rem; /* dk*/
  row-gap: 1.375rem;
}

.talk-counters__text {
  font-size: 1.25rem; /* tb e dk*/
  font-weight: 600;
  line-height: 1.5; /* tb e dk*/
  max-inline-size: 50ch;
  text-align: center;
}

.btn {
  align-items: center;
  background-color: var(--color-bg-btn);
  border: 0.125rem solid var(--color-white);
  color: var(--color-tx-light);
  column-gap: 1.25rem;
  cursor: pointer;
  display: inline-flex;
  font-size: clamp(1.125rem, calc(1rem + 0.5vw), 1.25rem); /* tb e dk*/
  line-height: 1;
  font-weight: 600;
  letter-spacing: 0.0625rem;
  padding: 0.75rem 1.5rem; /* tb e dk*/
  text-align: center;
  transition: background-color 0.4s ease-in-out;
}

.btn:hover {
  background-color: var(--color-bg-btn-hover-talk-counters);
  color: var(--color-tx-dark);
}

.btn__icon-wrapper {
  inline-size: 2.0625rem;
  block-size: auto;
}

.btn__icon {
  display: block;
  fill: var(--color-white);
}

.btn__icon path {
  fill: var(--color-white);
}

.btn:hover .btn__icon path {
  fill: var(--color-gray-700);
}

.btn__label {
  /* vazio */
}

.footer {
  background-color: var(--color-bg-footer);
  padding-inline: 1.375rem; /* tb e dk*/
  padding-block: 2rem 0.5rem; /* tb e dk*/
}

.footer__content {
  display: flex;
  flex-direction: column;
  margin-inline: auto;
  row-gap: 2rem; /* tb e dk*/
}

.informations {
  align-items: center; /* dk */
  display: flex;
  flex-direction: column; /* dk */
  row-gap: 2rem; /* dk */
}

.contact-list {
  list-style-type: none;
  text-align: start; /* mesmo em dk*/
  display: flex;
  flex-direction: column;
  row-gap: 0.625rem;
}

.contact-list__item {
  font-size: 1rem; /* dk é 18px*/
  font-weight: 500;
}

.contact-list__link,
.contact-list__email {
  align-items: center;
  color: var(--color-tx-light);
  column-gap: 0.5rem;
  display: flex;
  justify-content: center;
}

.contact-list__link {
  text-decoration: none;
}

.contact-list__link:hover {
  text-decoration: underline;
}

.contact-list__link:visited {
  color: var(--color-orange-100);
}

.contact-list__icon {
  display: block;
}

.company {
  display: flex;
  flex-direction: column;
  row-gap: 1rem;
}

.company__logo-wrapper {
  /* vazio */
}

.company__logo {
  display: block;
  margin-inline: auto;
}

.company__content {
  color: var(--color-tx-light);
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  text-align: center; /* dk*/
}

.company__cnpj {
  /* vazio */
}

.company__address {
  font-style: normal;
}

.credits {
  color: var(--color-tx-light);
  text-align: center;
}

.credits__exacta {
  font-size: 0.875rem;
}

.credits__developer {
  font-size: 0.75rem;
}

.credits__developer-link {
  color: var(--color-white);
}

.credits__developer-link:visited {
  color: var(--color-orange-100);
}

.modal {
}

.modal__overlayer {
}

.modal__content {
}

.modal__header {
}

.modal__title {
}

.modal__btn-closer {
}

.modal__body {
}

.talk-department__content {
}

.talk-departament__title {
}

.talk-departament__link {
}

.talk-departament__icon {
}

/* B R E A K P O I N T - EXTRA-SMALL min-width 374.98px */
@media screen and (max-width: 23.43625rem) {
  .header {
    background-color: green;
  }

  .btn__icon-wrapper {
    display: none;
  }

  .contact-list__link,
  .contact-list__email {
    font-size: 0.9375rem;
  }

  .contact-list__icon {
    display: none;
  }
}

/* B R E A K P O I N T - SMALL min-width 575.98px */
@media screen and (min-width: 35.99875rem) {
  .header {
    background-color: orange;
  }

  .image-content__text {
    font-size: 1.125rem;
  }

  .text-only__card-group {
    align-items: start;
    flex-direction: row;
    gap: 0 2rem;
    justify-content: center;
  }

  .talk-counters__text {
    font-size: 1.375rem;
  }

  .contact-list__link,
  .contact-list__email {
    font-size: 1.125rem;
  }
}

/* B R E A K P O I N T - MEDIUM  min-width 767.98px */
@media screen and (min-width: 47.99875rem) {
  .header {
    grid-column: 2 / 12;
    padding: 2rem 0; /* revisar */
    background-color: blue;
  }
  
  .container {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
  }

  .logo {
    /* vazio */
  }

  .logo__img {
    /* vazio */
  }

  .slogan {
    /* vazio */
  }

  .slogan__img {
    /* vazio */
  }

  .main {
    grid-column: 1 / 13;
  }

  /* MD - component Block image and content */

  .image-content {
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: repeat(2, auto);
  }

  .image-content--reverse {
    grid-column: 2 / 13;
  }

  .image-content__image {
    aspect-ratio: 704 / 485;
    grid-column: 1 / 12;
  }

  .image-content__image--reverse {
    grid-column: 2 / 13;
  }

  .image-conten__photo {
    /* vazio */
  }

  .image-content__content {
    grid-column: 1 / 12;
  }

  .image-content__content--reverse {
    grid-column: 2 / 13;
  }

  .image-content__title {
    font-size: 2.25rem;
    padding: 1rem 2rem;
    text-align: end;
  }

  .image-content__title--reverse {
    text-align: start;
  }

  .image-content__body {
    padding-block: 2rem;
    padding-inline: min(8.32vw, 5.16rem) 0; /* definir no vermelho */
  }

  .image-content__body--reverse {
    padding-inline: 0 4rem;
  }

  .image-content__text {
    font-size: 1.25rem; /* definir no vermelho */
    margin-block-end: 2rem;
    text-align: start;
  }

  /* MD - component Block text only */

  .text-only {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
  }

  .text-only--reverse {
    /* vazio */
  }

  .text-only__header {
    grid-column: 2 / 13;
    grid-row: 1 / 2;
  }

  .text-only__header--reverse {
    grid-column: 1 / 12;
    grid-row: 1 / 2;
  }

  .text-only__title {
    font-size: 2.25rem;
    padding: 1rem 2rem;
    text-align: start;
  }

  .text-only__title--reverse {
    text-align: end;
  }

  .text-only__card {
    /* vazio */
  }

  .text-only__card--wrapper-all {
    align-items: start;
    grid-column: 1 / 12;
    grid-row: 2 / 3;
    padding: 2rem 0;
  }

  .text-only__card-group {
    gap: 0 5rem;
  }

  .text-only__card--mission,
  .text-only__card--vision,
  .text-only__card--values {
    grid-column: 2 / 13;
    padding-inline: 2rem 4rem;
  }

  .text-only__card--mission {
    grid-row: 2 / 3;
    padding-block: 2rem 0;
  }

  .text-only__card--vision {
    grid-row: 3 / 4;
    padding-block: 2rem;
  }

  .text-only__card--values {
    grid-row: 4 / 5;
    padding-block: 0 2rem;
  }

  /* MD - card purpose */

  .card-purpose {
    text-align: start;
  }

  .card-purpose__title {
    /* vazio */
  }

  hr {
    margin-inline: 0;
  }

  .card-purpose__body {
    /* vazio */
  }

  .card-purpose__text {
    font-size: 1.125rem;
  }

  .text-only__title--reverse {
    /* vazio */
  }

  /* MD - card service */

  .card-service {
    inline-size: 16rem;
  }

  .card-service__header {
    /* vazio */
  }

  .card-service__icon-wrapper {
    /* vazio */
  }

  .card-service__icon {
    /* vazio */
  }

  .card-service__title {
    /* font-size igual mobile */
  }

  .card-service__body {
    /* vazio */
  }

  .card-service__list-services {
    font-size: clamp(1rem, calc(0.0625rem + 2.25vw), 1.125rem);
  }

  .card-service__type {
    /* vazio */
  }

  /* MD - Insurence */

  .insurence {
    padding: 2rem 4rem;
  }

  .insurence__icon-wrapper {
    /* vazio */
  }

  .insurence__icon {
    /* vazio */
  }

  .insurence__icon-text {
    /* vazio */
  }

  .insurence__body {
    /* vazio */
  }

  .insurence__text {
    font-size: 1.125rem;
  }

  /* MD - Talk Counter */

  .talk-counters {
    padding: 2rem 4rem;
  }

  .talk-counters__text {
    font-size: 1.625rem;
  }

  .btn {
    /* vazio */
  }

  .btn__icon-wrapper {
    /* vazio */
  }

  .btn__icon {
    /* vazio */
  }

  .btn__label {
    /* vazio */
  }

  .footer {
    grid-column: 1 / 13;
    padding-inline: 4rem;
  }

  .footer__content {
    /* vazio */
  }

  .informations {
    /* vazio */
  }

  .contact-list__item {
    /* vazio */
  }

  .contact-list__link {
    /* vazio */
  }

  .contact-list__email {
    /* vazio */
  }

  .contact-list__link,
  .contact-list__email {
    /* vazio */
  }

  .contact-list__icon {
    /* vazio */
  }

  .company {
    /* vazio */
  }

  .company__logo-wrapper {
    /* vazio */
  }

  .company__logo {
    /* vazio */
  }

  .company__content {
    /* vazio */
  }

  .company__cnpj {
    /* vazio */
  }

  .company__address {
    /* vazio */
  }

  .credits {
    /* vazio */
  }

  .credits__exacta {
    /* vazio */
  }

  .credits__developer {
    /* vazio */
  }

  .credits__developer-link {
    /* vazio */
  }

  .modal {
  }

  .modal__overlayer {
  }

  .modal__content {
  }

  .modal__header {
  }

  .modal__title {
  }

  .modal__btn-closer {
  }

  .modal__body {
  }

  .talk-department__content {
  }

  .talk-departament__title {
  }

  .talk-departament__link {
  }

  .talk-departament__icon {
  }
}

/* B R E A K P O I N T - LARGER min-width 992.98px */
@media screen and (min-width: 62.06125rem) {
  .header {
    background-color: red;
  }

  .image-content__title {
    padding: 1rem 2rem;
    text-align: end;
  }

  .image-content__title--reverse {
    text-align: start;
    /* vazio */
  }

  .image-content__body {
    padding-inline: min(8.34vw, 6.25rem) 0;
  }

  .image-content__body--reverse {
    padding-inline: 0 4rem;
  }

  .text-only__card-group {
    gap: 0 9.375rem;
  }

  .card-service__header {
    /* vazio */
  }

  .insurence {
    flex-direction: row;
    gap: 0 3.125rem;
    justify-content: stretch;
    padding: 2rem clamp(3.125rem, calc(1rem + 3vw), 3.75rem);
  }

  .insurence__text {
    inline-size: 100%;
    max-inline-size: 68rem;
    text-align: start;
  }

  .informations {
    align-items: start;
    flex-direction: row;
    justify-content: space-between;
    row-gap: 0;
  }

  .contact-list__link,
  .contact-list__email {
    justify-content: flex-start;
  }

  .company__content {
    text-align: start;
  }

  .company__logo {
    margin-inline: 0;
  }
}

/* OK */
/* B R E A K P O I N T - EXTRA LAGER min-width 1200.98px */
@media screen and (min-width: 75.06125rem) {
  .header {
    background-color: yellow;
  }

  .container {
    /* vazio */
  }

  .header {
    /* vazio */
  }

  .logo {
    /* vazio */
  }

  .logo__img {
    /* vazio */
  }

  .slogan {
    /* vazio */
  }

  .slogan__img 
  /* vazio */ {
  }

  .main {
    /* vazio */
  }

  /* XL - component Block image and content */

  .image-content {
    grid-template-rows: auto;
  }

  .image-content--reverse {
    grid-column: 1 / 7;
  }

  .image-content__image {
    aspect-ratio: 720 / 452;
    grid-column: 1 / 7;
    grid-row: 1;
  }

  .image-content__image--reverse {
    grid-column: 7 / 13;
  }

  .image-content__photo {
    /* vazio */
  }

  .image-content__content {
    grid-column: 7 / 13;
    grid-row: 1;
  }

  .image-content__content--reverse {
    grid-column: 1 / 7;
  }

  .image-content__title {
    padding: 1rem 3.75rem;
    text-align: start;
  }

  .image-content__title--reverse {
    /* vazio */
  }

  .image-content__body {
    padding-block: 2rem;
    padding-inline: 3.75rem clamp(3.125rem, calc(1rem + 3vw), 3.75rem);
  }

  .image-content__body--reverse {
    /* padding-inline: 1rem 3.75rem; */
  }

  .image-content__text {
    font-size: clamp(1.125rem, 0.5rem + 0.84vw, 1.25rem);
  }

  /* XL - component Block text only */

  .text-only {
    /* vazio */
  }

  .text-only--reverse {
    /* vazio */
  }

  .text-only__header {
    grid-column: 2 / 4;
    grid-row: 1;
  }

  .text-only__header--reverse {
    grid-column: 10 / 12;
  }

  .text-only__title {
    padding: 2rem clamp(1.4375rem, calc(0.2rem + 1.67vw), 2rem) 2rem 0;
    text-align: end;
  }

  .text-only__title--reverse {
    padding: 2rem 0 2rem clamp(1.4375rem, calc(0.2rem + 1.67vw), 2rem);
    text-align: start;
  }

  .text-only__card {
    display: flex;
  }

  .text-only__card--wrapper-all {
    flex-direction: row;
    gap: 0 min(0.7vw, 0.625rem);
    grid-column: 1 / 10;
    grid-row: 1;
    justify-content: center;
    padding: 6rem 0;
  }

  .text-only__card-group {
    align-items: start;
    flex-direction: row;
    gap: 0 min(0.7vw, 0.625rem);
    inline-size: auto;
    justify-content: stretch;
  }

  .text-only__card--mission,
  .text-only__card--vision,
  .text-only__card--values {
    grid-row: 1;
    padding-block: 4rem;
  }

  .text-only__card--mission {
    grid-column: 4 / 7;
    justify-content: end;
    padding-inline: 0;
  }

  .text-only__card--vision {
    grid-column: 7 / 10;
    justify-content: center;
    padding-inline: 0;
  }

  .text-only__card--values {
    grid-column: 10 / 13;
    justify-content: start;
    padding-inline: 0;
  }

  /* XL - card purpose */

  .card-purpose {
    max-inline-size: 16.875rem;
  }

  .card-purpose__title {
    /* vazio */
  }

  .card-purpose__body {
    /* vazio */
  }

  .card-purpose__text {
    font-size: 1.125rem;
  }

  /* XL - card service */

  .card-service {
    inline-size: 13.25rem;
  }

  .card-service__header {
    align-items: start;
  }

  .card-service__icon-wrapper {
    /* vazio */
  }

  .card-service__icon {
    margin-inline: 0;
  }

  .card-service__title {
    margin-inline: 0;
    text-align: start;
  }

  .card-service__body {
    /* vazio */
  }

  .card-service__list-services {
    text-align: start;
    font-size: 1rem;
  }

  .card-service__type {
    /* vazio */
  }

  /* XL - Insurence */

  /* .insurence {
    flex-direction: row;
    gap: 0 3.125rem;
    justify-content: stretch;
    padding: 2rem clamp(3.125rem, calc(1rem + 3vw), 3.75rem);
  } */

  .insurence__icon-wrapper {
    /* vazio */
  }

  .insurence__icon {
    /* vazio */
  }

  .insurence__icon-text {
    /* vazio */
  }

  .insurence__body {
    /* vazio */
  }

  /* .insurence__text {
    inline-size: 100%;
    max-inline-size: 68rem;
    text-align: start;
  } */

  .talk-counters {
    padding: 2rem 3.75rem;
  }

  .talk-counters__text {
    font-size: 1.875rem;
  }

  .btn {
    /* vazio */
  }

  .btn__icon-wrapper {
    /* vazio */
  }

  .btn__icon {
    /* vazio */
  }

  .btn__label {
    /* vazio */
  }

  .footer {
    padding-inline: clamp(3.125rem, calc(1rem + 3vw), 3.75rem);
  }

  .footer__content {
    /* vazio */
  }

  /* .informations {
    align-items: start;
    flex-direction: row;
    justify-content: space-between;
    row-gap: 0;
  } */

  .contact-list {
    /* vazio */
  }

  .contact-list__item {
    /* text-align: start; */
  }

  .contact-list__link {
    /* vazio */
  }

  .contact-list__email {
    /* vazio */
  }

  /* .contact-list__link,
  .contact-list__email {
    justify-content: flex-start;
  } */

  .contact-list__icon {
    /* vazio */
  }

  .company {
    /* vazio */
  }

  .company__logo-wrapper {
    /* vazio */
  }

  /* .company__logo {
    margin-inline: 0;
  }

  .company__content {
    text-align: start;
  } */

  .company__cnpj {
    /* vazio */
  }

  .company__address {
    /* vazio */
  }

  .credits {
    /* vazio */
  }

  .credits__exacta {
    /* vazio */
  }

  .credits__developer {
    /* vazio */
  }

  .credits__developer-link {
    /* vazio */
  }

  .modal {
  }

  .modal__overlayer {
  }

  .modal__content {
  }

  .modal__header {
  }

  .modal__title {
  }

  .modal__btn-closer {
  }

  .modal__body {
  }

  .talk-department__content {
  }

  .talk-departament__title {
  }

  .talk-departament__link {
  }

  .talk-departament__icon {
  }
}
